/** Call utilities > mixins > base > layout > components */
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

header nav.navbar {
  background-color: #060126 !important;
}
header nav.navbar .logo {
  width: 80px;
  margin-top: 0.125rem;
}
header nav.navbar .logo img {
  width: 100%;
}
header nav.navbar .navbar-toggler {
  background-color: #F2F2F2;
}
header nav.navbar li a {
  color: #F2F2F2 !important;
}
header .cards-products {
  width: 100%;
  height: 9.375rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-bottom: 1rem;
}

body {
  background-color: #F2F2F2;
  font-family: "Roboto", normal;
}

.aboutUs {
  display: grid;
  grid-template-rows: 2, 1fr;
  grid-template-columns: 2, 1fr;
  justify-content: center;
  grid-template-areas: "a a" "b c";
}

.aboutus-heading {
  grid-area: a;
  margin-bottom: 10rem;
  margin-top: 5rem;
}

.aboutus-description {
  grid-area: b;
}

.aboutus-description p {
  font-size: 16px;
}

.aboutusimage {
  grid-area: c;
  margin-left: 5rem;
  margin-bottom: 10rem;
}

.aboutusimage img {
  height: 500px;
}

footer {
  background-color: #060126;
  height: 12.5rem;
  padding: 3rem;
}
footer ul li {
  display: inline-block;
  padding: 1.5rem;
}
footer a {
  color: #F2F2F2;
}

.homepage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row: repeat(3, 1fr);
  height: auto;
  align-items: center;
  justify-content: center;
  margin-left: 8rem;
  margin-bottom: 8rem;
  grid-template-areas: "a b" "c c" "d d";
}

.clients-logos img {
  width: 6rem;
  margin-right: 1rem;
}

.clients-logos {
  margin-top: 4rem;
}

.clients-logos img:nth-child(2) {
  width: 5rem;
  height: 3rem;
}

main h1 {
  font-size: 5rem;
  font-weight: 500;
}

main p {
  font-size: 2rem;
  width: 35rem;
  color: hsl(0, 0%, 41%);
  line-height: 2rem;
}

main button {
  background-color: #636AF2;
  color: #fff;
  border: none;
  font-size: 24px;
  padding: 0.6rem 1rem;
  border-radius: 0.4rem;
  margin-top: 1rem;
}

#text-side {
  margin-top: 1rem;
  grid-area: a;
}

.img-side {
  margin-top: 0%;
  grid-area: b;
  margin-bottom: 10rem;
  height: 700px;
}

.img-side img {
  width: 100%;
  height: 830px;
  align-items: left;
}

.page-cards {
  grid-area: c;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 3rem;
  margin-top: 5rem;
}

.page-cards div p {
  font-size: 1rem;
}

.homepage_card_container {
  display: flex;
  justify-content: space-evenly;
  grid-area: d;
}

.homepage_card_container div div a img {
  height: 500px;
  width: 600px;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 4rem;
  border-radius: 0.4rem;
}

.products-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row: repeat(3, 1fr);
  height: auto;
  align-items: center;
  justify-content: center;
  margin-left: 8rem;
  margin-bottom: 8rem;
  grid-template-areas: " h h" " a b" " c d" " e f";
}

.products-intro {
  grid-area: h;
  margin-top: 10rem;
  margin-bottom: 10rem;
  margin-left: 30rem;
}

.product1 {
  grid-area: a;
  margin-left: 10rem;
}

.product1 p {
  font-size: 16px;
}

.product1-image {
  grid-area: b;
  margin-bottom: 5rem;
  width: 650px;
}

.product1-image img {
  height: 800px;
  width: 100%;
  margin-left: 11rem;
}

.product2-image {
  grid-area: c;
  margin-bottom: 5rem;
}

.product2-image img {
  height: 80%;
  width: 80%;
  margin-right: 2rem;
}

.product2 {
  grid-area: d;
  margin-bottom: 8rem;
}

.product2 p {
  font-size: 16px;
}

.product3 {
  grid-area: e;
}

.product3 p {
  font-size: 16px;
}

.product4 {
  grid-area: f;
}

.product4 p {
  font-size: 16px;
}

.contact-us-form {
  display: flex;
}

.contactus-heading h1 {
  margin-left: 40rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.contact-us-form div {
  width: 500px;
  margin-left: 10rem;
}

.contact-us-form p {
  font-size: 1rem;
}

.contact-us-form div img {
  margin-left: 10rem;
  height: 400px;
  margin-bottom: 8rem;
}

.faqintro {
  margin-left: 3rem;
  font-size: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.faqintro h1 {
  font-size: 3rem;
}

.faqimage img {
  width: 700px;
  height: 500px;
  margin-left: 32rem;
  margin-bottom: 3rem;
}

.accordion {
  margin-bottom: 3rem;
}

@media (min-width: 320px) and (max-width: 425px) {
  .homepage-grids {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 500px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas: "section1" "section2" "section3" "section4" "section5" "section6";
  }
  .homepage-grids .section1 {
    grid-area: section1;
    border-radius: none;
    font-size: 5rem;
    width: 100%;
    align-content: center;
    background-color: #636AF2;
  }
  .homepage-grids .section2 {
    grid-area: section2;
    border-radius: none;
    font-size: auto;
    width: 100%;
    align-content: none;
    background-color: none;
  }
  .homepage-grids .section2 img {
    height: 300px;
  }
  .homepage-grids .section3 {
    grid-area: section3;
    border-radius: none;
    font-size: none;
    width: none;
    align-content: none;
    background-color: none;
    height: 70%;
  }
  .homepage-grids .section4 {
    grid-area: section4;
    border-radius: none;
    font-size: none;
    width: none;
    align-content: none;
    background-color: none;
    height: 400px;
  }
  .homepage-grids .section5 {
    grid-area: section6;
    border-radius: none;
    font-size: none;
    width: none;
    align-content: none;
    background-color: none;
  }
  .homepage-grids .section6 {
    grid-area: section5;
    border-radius: none;
    font-size: none;
    width: none;
    align-content: none;
    background-color: none;
  }
}

/*# sourceMappingURL=style.css.map */
