.contact-us-form{
    display: flex;
}

.contactus-heading h1{
    margin-left: 40rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.contact-us-form div{
    width: 500px;
    margin-left:10rem;
}

.contact-us-form p{
    font-size: 1rem  ;
}

.contact-us-form div img {
    margin-left: 10rem;
    height: 400px;
    margin-bottom: 8rem;
}