.faqintro{
    margin-left: 3rem;
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;

h1{
    font-size: 3rem;
    }
}


.faqimage img{
    width: 700px;
    height: 500px;
    margin-left: 32rem;
    margin-bottom: 3rem;
}

.accordion{
    margin-bottom: 3rem;
}