.homepage-grids{
    display: grid;
    width: 100%;
    grid-template-columns:repeat(4, 1fr) ; /*12 cols max*/
    grid-template-areas: 
    "section1 section1 section2 section2"
    "section3 section3 section4 section4"
    "section5 section5 section6 section6" 
    ;
    align-items: center;
    justify-content: center;


    .main-banner-image{
        width: 50%;
        margin-bottom: .625rem;
    }

    .section1{
        @include grid(section1,none,6.5rem,100%,center, #636AF2);
        height: 100%;
        p:hover {
            // background-color: map-get($colors, white );
            border: none;
            transition: 0.4s;
            font-size: 7rem;
        }
    }
    .section2{
        @include grid (section2, none, none,none,none,none);
    }
    .section2 img{
        width: 100%;
        border-radius: 2%;
    }
    .section3{
        grid-area: section3;
        font-size: 1rem;
        border-radius: 2%;
    }
    .section4{
        grid-area: section4;
        border-radius: 2%;
    }
    .section4 img{
        border-radius: 2%;
        width: 100%;
    }
    .section5{
        grid-area: section5;
    }
    .section5 img{
        width: 100%;
        border-radius: 2%;
    }
    .section6{
        grid-area: section6;
        border-radius: 2%;
    }
}