@media (min-width: 320px) and (max-width: 425px) {

    .homepage {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 500px);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        grid-template-areas:
            "a"
            "b"
            "c"
            "d"
            "e"
            "f"
        ;


        .clients-logos {
            margin-top: 2rem;
            display: block;
        }

        #text-side {
            display: none;
            margin-top: 1rem;
            grid-area: a;

            main h1 {
                font-size: 2rem;
                font-weight: 500;
            }

            main p {
                font-size: 1rem;
                width: 200px;
                color: hsl(0, 0%, 41%);
                line-height: 1rem;
            }

        }

        .img-side {
            display: none;
            margin-top: 0%;
            grid-area: b;
            margin-bottom: 3rem;
            height: 300px;
        }

        .img-side img {
            width: 200px;
            height: 300px;
            align-items: left;

        }

        .page-cards {

            margin-bottom: 3rem;
            margin-top: 5rem;

            .content-wrap1 {
                grid-area: c;
            }

            .content-wrap2 {
                grid-area: e;
            }

            .page-cards div p {
                font-size: 1rem;
            }

            .homepage_card_container {
                .page-card-square {
                    display: none
                }

                .card1 {
                    display: none
                }

            }
        }
    }
}