@media (min-width: 320px) and (max-width: 425px){
    .homepage-grids {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        grid-template-areas: 
        "section1" 
        "section2"
        "section3"
        "section4"
        "section5"
        "section6" 
        ;
    }
    .section1{
        @include grid(section1,none, auto, 100%,none, #636AF2)
    }
    .section2 {
        display: none;
    }
    .section3{
        display: none;
    }
    
    .section4{
        display: none;
    }
    .section5{
        display: none;
    }
    .section6{
        display: none;
    }
}